:root{
    --primary-color: #060425;
    --secondary-color: steelblue;
    /* --tertiary-color: ; */
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header{
    background-color: var(--primary-color);
}

header nav{
    margin: 0 auto;
    padding: 11px 6px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-content: center;
    justify-content: space-between;
    align-items: center;
}

#highscores {
    background: none;
    border: none;
    font-size: 1.075em;
    color: white;
    padding: 3px 9px;
}

#highscores:hover{
    background-color: whitesmoke;
    border-radius: 11px;
    color: var(--primary-color);
}

body{
    background-color: var(--secondary-color);
}

main{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    align-content: center;
    align-items: center;
}

main h1{
    text-align: center;
    margin: 25px auto;
    border-bottom: solid white 3px;
    width: 50%;
    border-radius: 5px;
}

.quiz-container {
    text-align: center;
    margin: 0 auto;
}

footer {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-content: center;
    align-items: center;
    /*background: linear-gradient(0deg, rgba(103, 59, 134,.72), transparent);*/
}

footer h4 {
    margin: 25px auto 10px auto;
    font-size: 1.1em;
    font-style: italic;
    font-weight: normal;
    color: rgb(0,0,0);
}